//----------EDIT-PROFILE----------//
.edit-profile {
    .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }

    .wr-edit-profile {
        form {
            h2 {
                margin-top: 0px;
            }
            button.update, a.cancel {
                font-family: 'PT Serif', serif;
                letter-spacing: 3px;
                 -webkit-transition: .2s background-color ease-in;
                -moz-transition: .2s background-color ease-in;
                -ms-transition: .2s background-color ease-in;
                -o-transition: .2s background-color ease-in;
                transition: .2s background-color ease-in;
            }
            button.update:hover, a.cancel:hover {
                background-color: $hitam;
            }
            table {
                tr {
                    td {
                        input, .select {
                            margin-bottom: 15px;
                        }
                    }
                    td.first-name {
                        padding-right: 5px;
                    }
                    td.last-name {
                        padding-left: 5px;
                    }
                }
                width: 100%;
            }
        }
    }
    margin: 50px 0px;   
}

//----------DEVICE SMARTPHONE (MAX-WIDTH = 767)----------//

@media (max-width: 767px) {
    .edit-profile {
        margin-top: 0px;
    }
}

@media (max-width: 320px) {
    .edit-profile {
        .wr-edit-profile {
            form {
                h2 {
                    font-size: 28px;
                }
            }
        }
    }
}