//----------PAGE-WELCOME----------//
.header-welcome {
    .wr-header-welcome {
        .nav-pills {
            li {
                a {
                    background-color:  transparent;
                    font-family: 'Open Sans', sans-serif;
                    color: $hitam;
                    font-size: 16px;
                    letter-spacing: 2px;
                }
                a:hover {
                    background-color: none;
                }
            }
        }
    }
    padding: 10px 0px;
}

.page-welcome {
    .wr-page-welcome {
        .pembuka {
            h1, h2, h4 {
                margin: 0px;
                font-family: 'Raleway', sans-serif;
            }
            h1 {
                font-size: 40px;
            }
            h2, h4 {
                margin-top: 15px;
            }


        }
    }
    margin: 50px 0px;
}