//----------SIGN-UP----------//
.sign-up {
    .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
    .wr-sign-up {
        .tab-menu {
            a.verif {
                padding-right: 20px;
                margin-right: 20px;
                border-right: 1px solid $hitam;
            }
            a {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                letter-spacing: 2px;
                color: $biru-muda;
                font-weight: 700;
                padding: 5px 0px;
                -webkit-transition: .2s color ease-in;
                -moz-transition: .2s color ease-in;
                -ms-transition: .2s color ease-in;
                -o-transition: .2s color ease-in;
                transition: .2s color ease-in;
            }
            a:hover {
                text-decoration: none;
                color: $hitam;
            }
            .active {
                color: $hitam;
            }
        }
        .form-verif {
            #form-verif {
                form {
                     input {
                        margin-top: 15px;
                    }
                    .form-checkbox {
                        input {
                            margin-right: 5px;
                        }
                        span {
                            letter-spacing: 1px;
                            font-size: 16px;
                        }
                    }
                    button {
                        font-family: 'PT Serif', serif;
                        letter-spacing: 3px;
                        -webkit-transition: .2s background-color ease-in;
                        -moz-transition: .2s background-color ease-in;
                        -ms-transition: .2s background-color ease-in;
                        -o-transition: .2s background-color ease-in;
                        transition: .2s background-color ease-in;
                    }
                    button:hover {
                        background-color: $hitam;
                    }
                }
            }
            #form-regis {
                form {
                    table {
                        tr {
                            td {
                                input, select {
                                    margin-bottom: 15px;
                                }
                                .kelas {
                                    select {
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance:none;
                                        background: transparent url("../images/double-caret.png") no-repeat 97% 50%;
                                        background-size: 15px;
                                    }
                                }
                            }
                            td.first-name {
                                padding-right: 5px;
                            }
                            td.last-name {
                                padding-left: 5px;
                            }
                        }
                        width: 100%;
                    }
                    .form-checkbox {
                        input {
                            margin-right: 5px;
                        }
                        span {
                            letter-spacing: 1px;
                            font-size: 16px;
                        }
                    }
                    button {
                        font-family: 'PT Serif', serif;
                        letter-spacing: 3px;
                        -webkit-transition: .2s background-color ease-in;
                        -moz-transition: .2s background-color ease-in;
                        -ms-transition: .2s background-color ease-in;
                        -o-transition: .2s background-color ease-in;
                        transition: .2s background-color ease-in;
                    }
                    button:hover {
                        background-color: $hitam;
                    }
                }
            }
            margin-top: 30px;
        }
        
        margin: 50px 0px;
    }
}